:root {
    /* --primary-light: hsla(181, 78%, 90%, 1);
    --primary-mid: hsla(181, 78%, 40%, 1);
    --primary: hsla(181, 78%, 33%, 1);
    --primary-dark: hsla(181, 78%, 18%, 1);
    --primary-focusRing: hsla(181, 78%, 33%, .5);

    --secondary-light: hsla(173, 21%, 92%, 1);
    --secondary-mid: hsla(201, 54%, 37%, 1);
    --secondary: hsla(201, 88%, 27%, 1);
    --secondary-dark: hsla(201, 88%, 19%, 1);
    --secondary-focusRing: hsla(201, 88%, 27%, .5); */
}